p {
            font-family: 'Carlito', sans-serif;
            font-size: 20px;
}
.btn-outline-discord {
    --btn-color: #5865F2;
    color: var(--btn-color);
    border-color: var(--btn-color);
}
.btn-outline-discord:hover {
    --btn-color: #5865F2;
    color: #fff;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}
.btn-outline-twitter {
    --btn-color: #1DA1F2;
    color: var(--btn-color);
    border-color: var(--btn-color);
}
.btn-outline-twitter:hover {
    --btn-color: #1DA1F2;
    color: #fff;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}
.btn-outline-youtube {
    --btn-color: #FF0000;
    color: var(--btn-color);
    border-color: var(--btn-color);
}
.btn-outline-youtube:hover {
    --btn-color: #FF0000;
    color: #fff;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}