{% extends 'base.html' %}
{% block nav_index %}active{% endblock %}
{% load static %}

{% block head %}
    <style>
        .img-fluid {
            max-width: 200px;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-sm-center mt-2 text-center">
            <div class="col-sm-auto">
                <h1>{{ greeting }}</h1>
                <img class="rounded-circle img-fluid" alt="profile picture" src="{% static 'main/images/profile.jpg' %}">
                <br><br>
                <p class="basic-text">I'm Rayun. I make stuff occasionally.</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-4 text-center">
            <div class="col-sm-3 justify-content-sm-right">
                <h2><span class="text-decoration-line-through">Anti</span>Socials</h2>
                <p class="basic-text">You can find me around</p>
            </div>
            <div class="col-sm-3 justify-content-sm-left">
                <a href="https://github.com/rayun56">
                    <button type="button" class="btn btn-outline-light">
                        <i class="bi-github"></i> GitHub
                    </button>
                </a><br>
                <a href="https://discord.com/users/344303001965428736" target="_blank">
                    <button type="button" class="btn btn-outline-discord mt-1">
                        <i class="bi-discord"></i> Discord
                    </button>
                </a><br>
                <a href="https://www.youtube.com/channel/UCm-gsrBOz98_adj-XE9IxlA">
                    <button type="button" class="btn btn-outline-youtube mt-1">
                        <i class="bi-youtube"></i> YouTube
                    </button>
                </a>
            </div>
        </div>
        <!-- Lanyard -->
        <div class="row justify-content-sm-center mt-4">
            <div class="col-sm-auto">
                <div id="lanyard"
                     hx-post="{% url 'main:lanyard' %}"
                     hx-trigger="load"
                     hx-swap="outerHTML">
                </div>
            </div>
        </div>
    </div>
{% endblock %}