<div id="lanyard"
     hx-post="{% url 'main:lanyard' %}"
     hx-trigger="load delay:2s"
     hx-swap="outerHTML"
>
{% if activities %}
    <h4 class="text-center">Current Status</h4>
{% endif %}
{% for activity in activities %}
    {% if activity.type == 0 or activity.type == 2 or activity.type == 3 %}
        <div class="card bg-dark text-white mb-2">
            <div class="row justify-content-left">
                <div class="col-sm-3">
                    <div id="lanyard-large-img" class="card-img">
                        <img
                            src="{{ activity.large_image }}"
                            alt="{{ activity.state }}"
                            class="rounded ms-1 mt-1 mb-1"
                            style="height: 100px; width: auto;"
                        >
                    </div>
                    {% if activity.small_image %}
                        <div id="lanyard-small-img">
                            <img
                                src="{{ activity.small_image }}"
                                alt="{{ activity.state }}"
                                class="rounded mt-1 ms-1"
                                style="height: 30px; width: auto;"
                            >
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    <div class="container-fluid justify-content-left">
                        <div class="card-body">
                            {% if activity.type == 0 %} {# Playing... #}
                                <h5 class="card-title">
                                    Playing <b>{{ activity.name }}</b>
                                </h5>
                                <p class="card-text text-left">
                                    {% if activity.details %}
                                        {{ activity.details }}<br>
                                    {% endif %}
                                    {% if activity.state %}
                                        {{ activity.state }}<br>
                                    {% endif %}
                                    For {{ activity.time_since }}
                                </p>
                            {% elif activity.type == 2 %} {# Listening to... #}
                                <h5 class="card-title">
                                    Listening with <b>{{ activity.name }}</b>
                                </h5>
                                <p class="card-text text-left mb-0">
                                    {{ activity.title }} - {{ activity.artist }}<br>
                                    {{ activity.album }}<br>
                                    {{ activity.str_progress }}
                                </p>
                                <div class="card-text progress mt-0" style="height: 8px">
                                    <div class="progress-bar" role="progressbar" style="width: {{ activity.progress }}%;" aria-valuenow="{{ activity.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% elif activity.type == 3 %} {# Watching... #}
                                <h5 class="card-title">
                                    Watching <b>{{ activity.details }}</b> with <b>{{ activity.name }}</b>
                                </h5>
                                <p class="card-text text-left">
                                    {{ activity.state }}<br>
                                    {% if activity.large_alt != activity.name %}
                                        {{ activity.large_alt }}<br>
                                    {% endif %}
                                    {% if activity.str_progress %}
                                        {{ activity.str_progress }}<br>
                                    {% elif activity.time_since %}
                                        For {{ activity.time_since }}
                                    {% endif %}
                                </p>
                                {% if activity.progress %}
                                    <div class="card-text progress mt-0" style="height: 8px">
                                        <div class="progress-bar" role="progressbar" style="width: {{ activity.progress }}%;" aria-valuenow="{{ activity.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
