{% extends 'base.html' %}
{% block nav_projects %}active{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-sm-center mt-2">
            <div class="col-sm-auto">
                <h1>Projects</h1>
                <br>
                <p class="basic-text">These are various projects I've worked on over the years.<br>
                    Some programming related, some not so much.</p>
                <hr>
            </div>
        </div>
            {% for project in projects %}
                <div class="row justify-content-sm-center mt-2">
                    <div class="col-sm-5">
                        <h2>{{ project.title }}</h2>
                        <p class="project-date">{{ project.date }}</p>
                        <p class="project-desc">{% lorem 50 w %}</p>
                        <div class="row mt-8">
                            <div class="col-sm-12">
                                {% if project.gh_link %}
                                    {% spaceless %}
                                    <a href="{{ project.gh_link }}">
                                        <i class="bi-github" style="color: white"></i>
                                        <span class="project-link">View on GitHub</span>
                                    </a>
                                    <br>
                                    {% endspaceless %}
                                {% endif %}
                                {% if project.yt_link %}
                                    {% spaceless %}
                                    <a href="{{ project.yt_link }}">
                                        <i class="bi-youtube" style="color: red"></i>
                                        <span class="project-link">View on YouTube</span>
                                    </a>
                                    {% endspaceless %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if project.preview_image %}
                        <div class="col-sm-5">
                            <img src="{{ project.preview_image.url }}" class="img-fluid" alt="Project Preview Image">
                        </div>
                    {% endif %}
                </div>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% empty %}
                <h2>Oops!</h2>
                <p>No projects listed.</p>
            {% endfor %}
    </div>
{% endblock %}