{% extends 'base.html' %}
{% block nav_projects %}active{% endblock %}
{% load static %}

{% block head %}
    <style>
        a {
            color: #fff;
            text-decoration: underline;
            text-decoration-color: #fff;
            text-decoration-thickness: 2px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-sm-center mt-2">
            <div class="col-sm-auto">
                <h1>Projects</h1>
                <br>
                <p class="basic-text">These are various projects I've worked on over the years.<br>
                    Some programming related, some not so much.</p>
                <hr>
            </div>
        </div>
            {% for project in projects %}
                {% if project.visible %}
                    <div class="row justify-content-sm-center mt-2">
                        <div class="col-md-5">
                            <h2>{{ project.title }}</h2>
                            <p class="project-date">{{ project.date|date:"F Y" }}</p>
                            <p class="project-desc">{% autoescape off %}{{ project.description }}{% endautoescape %}</p>
                            <div class="row mt-8">
                                <div class="col-sm-12">
                                    {% if project.gh_link %}
                                        {% spaceless %}
                                        <a href="{{ project.gh_link }}">
                                            <i class="bi-github" style="color: white"></i>
                                            <span>View on GitHub</span>
                                        </a>
                                        <br>
                                        {% endspaceless %}
                                    {% endif %}
                                    {% if project.yt_link %}
                                        {% spaceless %}
                                        <a href="{{ project.yt_link }}">
                                            <i class="bi-youtube" style="color: red"></i>
                                            <span>View on YouTube</span>
                                        </a>
                                        {% endspaceless %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if project.preview_image %}
                            <div class="col-md-5">
                                <img src="{{ project.preview_image.url }}" class="img-fluid" alt="Project Preview Image">
                            </div>
                        {% endif %}
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endif %}
            {% empty %}
                <h2>Oops!</h2>
                <p>No projects listed.</p>
            {% endfor %}
    </div>
{% endblock %}